bot_token=1234:abcd

admin_id=123,456

url_tg_code=http://example.ru/code/

# Email
smtp_mmk_server=http://mail.mmk.ru
smtp_mmk_port=666
sender=i_send_message@mmk.ru
pass_water=qwerty123
recipient_address=first@mmk.ru,second@mmk.ru

create_db=True